<div class="modal">
    <div class="modal__contenido">
      <div class="modal__contenido--cerrar" (click)="clickCerrar.emit()">
        &times;
      </div>
      <div class="modal__contenido--secciones">
        <h2 class="modal__contenido--secciones--titulo">
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
          Información de Entrada de Producto
        </h2>
        <div class="modal__contenido--secciones__datos">
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Nombre del Almacén
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              Almacén de Compras
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Fecha de Ingreso
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.created_at }}
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Nombre del Producto
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.nombre }}
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Identificador Único
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.sku }}
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Última Cantidad en Stock
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.ultimaCantidadStock }}
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Cantidad Ingresada
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.cantidadIngresada }}
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Empleado que Ingreso
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.nombresEmpleado }}
              {{ suscripcion?.apellidoPaternoEmpleado }}
              {{ suscripcion?.apellidoMaternoEmpleado }}
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              No. de Empleado
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.idEmpleado }}
            </div>
          </div>
          <div class="modal__contenido--secciones__datos--dato">
            <label class="modal__contenido--secciones__datos--dato--label">
              Unidad de Medida
            </label>
            <div class="modal__contenido--secciones__datos--dato--valor">
              {{ suscripcion?.unidadMedida }}
            </div>
          </div>
        </div>
        <div class="modal__contenido--secciones__datos--comentario">
          <label class="modal__contenido--secciones__datos--comentario--label">
            Comentario
          </label>
          <div
            class="modal__contenido--secciones__datos--comentario--valor menu-sidebar"
          >
            {{ suscripcion?.comentarios }}
          </div>
        </div>
      </div>
      <div class="modal__contenido--footer">
        <div class="modal__contenido--footer__contenedor-iconos">
          <div class="modal__contenido--footer__contenedor-iconos--seccion">
            <span
              class="modal__contenido--footer__contenedor-iconos--seccion__icono"
              nz-icon
              nzType="container"
              nzTheme="outline"
            ></span>
            <p
              class="modal__contenido--footer__contenedor-iconos--seccion__texto"
            >
              Información
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  