@import "../../../../../../../styles.scss";

.empleados {
  width: 100%;
  margin: 20px auto;
  &__secciones-cabecera {
    margin-bottom: 10px;
  }
  &__cabecera {
    display: flex;
    justify-content: space-between;
    &--descripcion {
      margin: auto;
      text-align: center;
      color: $color-brand-primary;
      &__texto {
        font-size: 14px;
        width: 430px;
        margin: 0px auto 10px auto;
      }
      &__desc {
        text-align: center;
        color: rgb(98, 98, 98);
        font-weight: 600;
      }
    }
  }
  &__descripcion {
    width: 100%;
    padding: 5px 10px;
    &--contenedor {
      border: 1px solid rgb(168, 168, 168);
      width: 40%;
      margin: auto;
      &__info {
        background-color: $color-brand-primary;
        color: #ffffff;
        font-weight: 600;
        padding: 5px 10px;
        font-size: 18px;
      }
    }
    &--info-stock {
      width: 100%;
      display: grid;
      grid-template-columns: 65% 35%;
      column-gap: 20px;
      font-size: 14px;
      &--llave,
      &--valor {
        color: $color-brand-primary;
        font-weight: 600;
      }
    }
  }
  &__boton {
    width: 240px;
    margin: 0px auto 20px auto;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    button {
      height: 30px;
      font-size: 13px;
      color: $color-brand-primary;
      background-color: white;
      border: 1px solid $color-brand-primary;
      border-radius: 5px;
      margin: 0px auto;
      padding: 5px auto;
      width: 100%;
      &:hover {
        color: #016acc;
        border: 1px solid #016acc;
      }
    }
  }
  &__contenido {
    &__buscador {
      &--opciones {
        position: absolute;
        z-index: 10;
        max-height: 250px;
        width: 70%;
        margin-left: 9%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #003e78 transparent !important;
        background: white;
        border: 1px solid rgb(237, 237, 237);
        border: 1px solid rgb(212, 212, 212);
        padding: 7px;
        border-radius: 5px;
        &::-webkit-scrollbar {
          width: 3px;
          border-radius: 2px;
        }
        &::-webkit-scrollbar-track {
          background-color: #dddddd; 
        }
        &::-webkit-scrollbar-thumb {
          background-color: #003e78;
        }
        option {
          padding: 5px;
          &:hover {
            background: #e6f7ff;
            cursor: pointer;
          }
        }
      }
      &--input {
        width: 80%;
        margin: 15px auto;
        height: 35px;
        input {
          width: 100%;
          font-size: 18px
        }
      }
    }
  }
}

.stock-p {
  font-size: 30px;
  font-weight: 600;
}
