<nav class="navbar">
  <div class="navbar__contenido">
    <p class="navbar__contenido--"></p>
  </div>
  <div class="navbar__contenido">
    <p class="navbar__contenido--username">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <nz-avatar [nzSize]="32" [nzSrc]="imagenUsuario"></nz-avatar>
        &nbsp;Diego
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu
        class="navbar__contenido--username__dropmenu"
        #menu="nzDropdownMenu"
      >
        <ul class="m-t-10" nz-menu nzSelectable>
          <li
            class="navbar__contenido--username__dropmenu--item"
            routerLink="/perfil"
            nz-menu-item
          >
            <i class="m-r-5" nz-icon nzType="user" nzTheme="outline"></i>
            <a>Perfil</a>
          </li>
          <hr />
          <li class="navbar__contenido--username__dropmenu--item" nz-menu-item>
            <i class="m-r-5" nz-icon nzType="logout" nzTheme="outline"></i
            >Cerrar sesión
          </li>
        </ul>
      </nz-dropdown-menu>
    </p>
  </div>
</nav>
